
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
.vscode
.vscode-test
test/
*.log
*.bak
*.tmp
*.zip
*.tar.gz
*.7z
*.psd
Thumbs.db
desktop.ini
